{% extends "base.html" %}
{% block content %}
<h2>Edit a restaurant:</h2>
<form action="/restaurants/{{restaurants.id}}" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ restaurants.name }}">
    </div>

    <div>
        <label for="city_id">City:</label>
            <select class="dropbtn" name="city_id">
                {% for city in cities %}
                <option id="city_id" value="{{city.id}}">{{ city.name }}</option>
                {% endfor %}
            </select>
    <div>

    <div>
        <label for="cuisine">Cuisine:</label>
        <input type="text" id="cuisine" name="cuisine" value="{{ restaurants.cuisine }}">
    </div>

    <div>
        <label for="tried">Tried?</label>
        <input type="checkbox" id="tried" name="tried">
    </div>
    <input type="submit" value="Update">
</form>
{% endblock %}