
{% extends "restaurants/base2.html" %}
{% block content %}
<div class="restaur">
    <h1>Edit a restaurant:</h1>
    <br>
    <form action="/restaurants/{{restaurants.id}}" method="POST" class="restaurant_transparency">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ restaurants.name }}">
        </div>

        <div>
            <label for="city_id">City:</label>
                <select class="dropbtn" name="city_id">
                    {% for city in cities %}
                    <option id="city_id" value="{{city.id}}">{{ city.name }}</option>
                    {% endfor %}
                </select>
        <div>

        <div>
            <label for="cuisine">Cuisine:</label>
            <input type="text" id="cuisine" name="cuisine" value="{{ restaurants.cuisine }}">
        </div>

        <div>
            <label for="tried">Tried?</label>
            {% if restaurants.tried %}
            <input type="checkbox" id="tried" name="tried" checked>
            {% else %}
            <input type="checkbox" id="tried" name="tried">
            {% endif %}
        </div>
        <input type="submit" value="Update">
    </form>
</div>    
{% endblock %}
