{% extends "restaurants/base2.html" %}
{% block content %}
<div class="cities">
        <div>
            {% for restaurant in restaurants %}
                <section class="transparency">
                    <p>Name: {{restaurant.name}}</p>
                    <p>Cuisine: {{restaurant.cuisine}}</p>
                    <p>City: {{restaurant.city.name}}</p>
                    <div>
                        <label for="tried">Tried?</label>
                        {% if restaurant.tried %}
                        <input type="checkbox" id="tried" name="tried" checked>
                        {% else %}
                        <input type="checkbox" id="tried" name="tried">
                        {% endif %}
                    </div>
                    <a href="/restaurants/{{restaurant.id}}/edit" class="button">Edit</a>
                    <br>
                    <form action="/restaurants/{{restaurant.id}}/delete" method="POST">
                        <input type="submit" value="Delete">
                    </form>
                </section>
                <br>
                <br>
            {% endfor %}
        </div>
</div>    
{% endblock content%}