body {
    margin: 0rem;
    padding: 0rem;
    height: 120vh;   
}

a {
    color: black;
}

.home {
    list-style: none;
}
.link_city {
    font-size: larger;
    font-weight: bold;
}

.fixed {
    display: flex;
    background: #3E0915;
    font-family: 'Shadows Into Light Two', cursive;
    color: white;
    cursor: url("https://cdn.emojidex.com/emoji/seal/kimchi.png"), auto;
    align-items: center;
    /* justify-content: flex-start; */
    justify-content: space-evenly;
    position: sticky;
    width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    flex: 0 0 33.333333%;
}

.footer {
    position: sticky;
    display: flex;
    background: #3E0915;
    font-family: 'Shadows Into Light Two', cursive;
    color: white;
    cursor: url("https://cdn.emojidex.com/emoji/seal/kimchi.png"), auto;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    left: 0;
    bottom: 0;
}


main {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Shadows Into Light Two', cursive;

}

.back_img {
    /* background-image: url('img/south_korea.jpeg');
    background-size: 100%;
    background-attachment: fixed; */ 
    background-repeat: repeat-y;   
    background-color: #5a1a29;
    background-size: cover;
}

nav {
    height: 120vh;

}

.restaur {
    padding: 30px 0 0 0px;
   
}

.restaurant_transparency {
    background-color: #964F60;
    opacity: 0.75;
    color: black;
    background-size: contain;
}


.transparency {
    background-color: #964F60;
    opacity: 0.75;
    padding: 5px 5px 5px 5px;
    color: black;
    background-size: contain;
}



.body_text {
    padding: 0px 0 0 10px;
    
}



/* .city_back {
    padding: 0rem;
    height: 120vh;
    background-image: url('img/Gangnam_by_night_Seoul_South_Korea.jpg.webp');
    background-size: cover;
    background-attachment: fixed;
    color: white;
    
} */

/* .food_back {
    margin: 0rem;
    padding: 0rem;
    height: 120vh; */
    /* min-height: 120vh; */
    /* background-image: url('img/baked-eggplant-salad-paprika-carrot-onion-garlic-korean-vegan-food-recipe-background-top-view-196863629.jpeg');
    background-size: cover; */
    /* background-blend-mode: soft-light; */
    /* background-attachment: fixed;
    
} */


article > p {
    margin: 0rem;
    padding: 0rem;
}

h1 { 
    margin: 0rem;
    padding: 0rem;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}

.emojidex-emoji {
    height: 5rem;
    width: 5rem;
    padding: 0rem;
    margin: 0rem;
}

.cities_boxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 5rem;
    padding: 5rem;
    background-color: #964F60;
    opacity: 0.75;
    padding: 5px 5px 5px 5px;
}


.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: horizontal;
    margin: 0rem;
    background-color: transparent;
    padding: 30px 0 0 30px;
    
}

.home_boxes {
    
    background-color: #964F60;
    list-style: none;
    opacity: 0.75;
    padding: 5px 0px 5px 5px;
    color: black;
}

.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    border-radius: 8px;
    text-align: center;
}