{% extends "base.html" %}
{% block page_content %}
    <nav class="back_img">
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li>
                Cities
                <ul>
                    <li><a href="/cities">All</a></li>
                    <li><a href="/cities/new">Add</a></li>
                </ul>
            </li>
            <li>
                Restaurants
                <ul>
                    <li><a href="/restaurants">All</a></li>
                    <li><a href="/restaurants/new">Add</a></li>
                </ul>
            </li>
        </ul>
    </nav>


{% endblock %}