{% extends "base.html" %}
{% block page_content %}
<section>
    <nav>
        <ul>
            <li> 
                <div class="dropdown">   
                    <span>Cities</span>
                    <div class="dropdown-content">
                        <a class="dropdown_item" href="/cities">All</a>
                        <br>
                        <a class="dropdown_item" href="/cities/new">Add</a>
                    </div>
                </div>
            </li>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <li>
                <div class="dropdown">
                    <span>Restaurants</span>
                    <div class="dropdown-content">
                        <a class="dropdown_item" href="/restaurants">All</a>
                        <br>
                        <a class="dropdown_item" href="/restaurants/new">Add</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</section>

{% endblock %}