{% extends "base.html" %}
{% block page_content %}
<section class="back_img">
    <nav>
        <ul class="menu">
            <li class="home_boxes"><a href="/">Home</a></li>
            <li class="home_boxes">
                Cities
                <ul>
                    <li><a href="/cities">All</a></li>
                    <li><a href="/cities/new">Add</a></li>
                </ul>
            </li>
            <li class="home_boxes">
                Restaurants
                <ul>
                    <li><a href="/restaurants">All</a></li>
                    <li><a href="/restaurants/new">Add</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</section>

{% endblock %}